<!DOCTYPE html>
<html>
<head>
<style>
html {
    min-height: 100%; /* This is required to ensure that the gradient stretches across the whole page */
}

body { #green
    background: -webkit-linear-gradient(#24FB80, #BEFFDA);
    background: -o-linear-gradient(#24FB80, #BEFFDA);
    background: -moz-linear-gradient(#24FB80, #BEFFDA);
    background: linear-gradient(#24FB80, #BEFFDA);
    background-color: #93B874;

}
h1 {
    text-align: center;
    font-family:Impact;
    color: blue;
    font-size: 500%;
}

h2{
  text-align: center;
  font-size: 300%
}
table{

  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  font-size = 150%

}
h3{
  text-align: center;
}
</style>
  <h1> Trips I've Taken This Year! </h1>
</head>
<body>
<table>
  <thead>
    <tr>
      <th>Destination</th>
      <th>Arrival Date</th>
      <th>Return Date</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td> <%=trip.destination %>  </td>
        <td>  <%=trip.arrive_date %> </td>
        <td> <%=trip.return_date %>  </td>
        <td> <%= trip.notes %> </td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>
<%= link_to 'Add a New Trip', new_trip_path %>
</h3>
</body>
</html>
